* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;

}

.border:hover {
    border: 1.5px solid white;
}

/* box2 */

.nav-address {
    padding: 9px;
}

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* box3 */

.nav-search {
    /* background-color: red; */
    width: 620px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;

}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: lightseagreen;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}

.nav-search:hover {
    border: 3px solid lightseagreen;
}

/* box4 */

.nav-signin {
    padding: 9px;
}

span {
    font-size: 0.8rem;
}

.nav-returns {
    padding: 9px;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/* box6 */

.nav-cart {
    padding: 9px;
}

.nav-cart i {
    font-size: 30px;

}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/* panel */

.panel {
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;

}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* Hero section */

.hero-section {
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
    font-weight: 550;


}

.hero-msg a {
    text-decoration: none;
    color: lightseagreen;
}

/* shop-section */

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    margin-top: 10px;
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;

}

.box a {
    text-decoration: none;
    color: lightseagreen;
}

.box a:hover {
    color: orange;
}

.box-img {
    height: 320px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* footer */

footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;

}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul a {
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    font-size: 0.85rem;
    color: #dddddd;
}

ul a:hover {
    text-decoration: underline;
}

ul p {
    margin-top: 50px;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
}

.logo {
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.8rem;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */

}

.pages {
    padding-top: 25px;

}

.pages a {
    color: white;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
}

.pages a:hover {
    text-decoration: underline;
}

.copyright {
    padding-top: 5px;
}